# Total Graduates in Education

## Map and Graph

Will use Dash recreate the graph found H:\CALDER\CALDER Data Visualizations\Jupyter Notebooks\Teacher Labor Shortage\IPEDS with file name: Map - (Awlevel State) Aggregated Number of Degrees in Education (1984-2016). 

There was a problem rendering the file and I haven't found out why.

In [1]:
# Dependencies for project
import dash
import dash_core_components as dcc
import dash_html_components as html
import plotly.graph_objs as go
import pandas as pd
from dash.dependencies import Input, Output, State

### Import data

Reshaped data to long using Stata (H:\CALDER\CALDER Data Visualizations\Data\Teacher Labor Shortage) using file *Reshape_Aggregated Number of Degrees in Education.do*

In [2]:
import os

In [10]:
# Saved on Github
excel = pd.read_csv('https://www.crowdflower.com/wp-content/uploads/2016/03/gender-classifier-DFE-791531.csv')

In [11]:
excel.head(5)

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,gender,gender:confidence,profile_yn,profile_yn:confidence,created,...,profileimage,retweet_count,sidebar_color,text,tweet_coord,tweet_count,tweet_created,tweet_id,tweet_location,user_timezone
0,815719226,False,finalized,3,10/26/15 23:24,male,1.0000,yes,1.0,12/5/13 1:48,...,https://pbs.twimg.com/profile_images/414342229...,0,FFFFFF,Robbie E Responds To Critics After Win Against...,NaN,110964,10/26/15 12:40,6.587300e+17,main; @Kan1shk3,Chennai
1,815719227,False,finalized,3,10/26/15 23:30,male,1.0000,yes,1.0,10/1/12 13:51,...,https://pbs.twimg.com/profile_images/539604221...,0,C0DEED,ÛÏIt felt like they were my friends and I was...,NaN,7471,10/26/15 12:40,6.587300e+17,NaN,Eastern Time (US & Canada)
2,815719228,False,finalized,3,10/26/15 23:33,male,0.6625,yes,1.0,11/28/14 11:30,...,https://pbs.twimg.com/profile_images/657330418...,1,C0DEED,i absolutely adore when louis starts the songs...,NaN,5617,10/26/15 12:40,6.587300e+17,clcncl,Belgrade
3,815719229,False,finalized,3,10/26/15 23:10,male,1.0000,yes,1.0,6/11/09 22:39,...,https://pbs.twimg.com/profile_images/259703936...,0,C0DEED,Hi @JordanSpieth - Looking at the url - do you...,NaN,1693,10/26/15 12:40,6.587300e+17,"Palo Alto, CA",Pacific Time (US & Canada)
4,815719230,False,finalized,3,10/27/15 1:15,female,1.0000,yes,1.0,4/16/14 13:23,...,https://pbs.twimg.com/profile_images/564094871...,0,0,Watching Neighbours on Sky+ catching up with t...,NaN,31462,10/26/15 12:40,6.587300e+17,NaN,NaN

In [ ]:
excel.indicator.unique()

In [6]:
excel.replace('elem ba', 'Elementary Bachelor', inplace=True)
excel.replace('other ba', 'Other Bachelor', inplace=True)
excel.replace('sped ba', 'SPED Bachelor', inplace=True)
excel.replace('stem ba', 'STEM Bachelor', inplace=True)
excel.replace('elem ma', 'Elementary Masters', inplace=True)
excel.replace('other ma', 'Other Masters', inplace=True)
excel.replace('sped ma', 'SPED Masters', inplace=True)
excel.replace('stem ma', 'STEM Masters', inplace=True)
excel.replace('elem phd', 'Elementary PhD', inplace=True)
excel.replace('other phd', 'Other PhD', inplace=True)
excel.replace('sped phd', 'SPED PhD', inplace=True)
excel.replace('stem phd', 'STEM PhD', inplace=True)
excel.replace('agg total' , 'National Total', inplace=True)

excel.replace('ba total', 'Bachelor Total', inplace=True)
excel.replace('elem total', 'Elementary Total', inplace=True)
excel.replace('ma total', 'Masters Total', inplace=True)
excel.replace('other total', 'Other Total', inplace=True)
excel.replace('phd total', 'PhD Total', inplace=True)
excel.replace('sped total', 'SPED Total', inplace=True)
excel.replace('state total', 'State Total', inplace=True)
excel.replace('stem total', 'STEM Total', inplace=True)

In [7]:
excel2 = excel[(excel['indicator'] == 'Bachelor Total') | (excel['indicator']=='Masters Total') 
               | (excel['indicator']=='PhD Total')   | (excel['indicator']=='Elementary Total')
               | (excel['indicator']=='Other Total') | (excel['indicator']=='SPED Total')
               | (excel['indicator']=='State Total') | (excel['indicator']=='STEM Total') 
               | (excel['indicator']=='National Total')]

### Export
Export data so it can be used elsewhere

In [8]:
os.chdir(r'H:\CALDER\CALDER Data Visualizations\Data\Teacher Labor Shortage')
excel2.to_excel('Aggregated Number of Degrees in Education (Reshaped long long) (Renamed).xlsx')

## Create Graph

Once I've tested the code I will transfer this to a .py file and follow the steps found here: https://plot.ly/dash/deployment in order to get the figure on the [CALDER Website](https://caldercenter.org/data-visualizations)

### Version 1

This contains:
* Two dropdowns, one for state and one for all indicators selected above
* One graph
* You can select more than one indicator but only one state

In [ ]:
app = dash.Dash()

app.css.append_css({"external_url": "https://codepen.io/chriddyp/pen/bWLwgP.css"}) 

df = excel2

state = df['state_long'].unique()
available_indicators = ['National Total', 'State Total', 'Bachelor Total', 'Masters Total', 'PhD Total', 'Elementary Total', 'SPED Total', 
                        'STEM Total', 'Other Total']

# Organize where items will be on the page
app.layout = html.Div([
        html.H3(
            children='Aggregated Number of Graduates in Education by State',
            style={
                'textAlign': 'center', 'fontFamily' : 'Georgia'
            }
        ),
    
        
        html.Div([          
            html.Div([
                html.Div([html.P('Select a State from the drop down below',id='state-title')],
                    style={'textAlign': 'center', 'fontFamily': 'Georgia'}),
                dcc.Dropdown(
                    id='state-id',
                    options=[{'label': i, 'value': i} for i in state],
                    value = 'Alaska'
                )
            ],
            style={'width': '48%', 'display': 'inline-block'}),
            
        html.Div([
            html.Div([html.P('Select Totals by broad CIP categories and Award type',id='indicator-title')],
                style={'textAlign': 'center', 'fontFamily' : 'Georgia'}),
            dcc.Dropdown(
                id='indicator-id',
                options=[{'label': i , 'value': i} for i in available_indicators],
                value=['State Total'],
                multi=True # This treats items as a list. 
                )
            ],
            style={'width':'48%', 'float': 'right', 'display': 'inline-block'})
        ]),
        
        dcc.Graph(id='indicator-graphic')
    ])


@app.callback(

    dash.dependencies.Output('indicator-graphic', 'figure'),
    [dash.dependencies.Input('state-id', 'value'),
     dash.dependencies.Input('indicator-id', 'value')])
def update_time_series(state_id, indicator_ids):
    dff = df[df['state_long'] == state_id]
    lines = {}
    data = []
    for indicator_id in indicator_ids:
        if indicator_id=='Bachelor Total':  
            lines = dict(
                 color = ("#6b6ecf"),
                 width = 3,
                 dash = 'dash')
        if indicator_id=='Masters Total':           
            lines = dict(
                 color = ("#80b1d3"),
                 width = 3,
                 dash = 'dash')
        if indicator_id=='State Total':           
                lines = dict(
                     color = ("#333333"),
                     width = 3)
        if indicator_id=='PhD Total':           
                lines = dict(
                     color = ("#35B778"),
                     width = 3,
                     dash = 'dash') 
        if indicator_id=='SPED Total':           
                lines = dict(
                     color = ("#fdb462"),
                     width = 3,
                     dash = 'dot')
        if indicator_id=='Elementary Total':           
                lines = dict(
                     color = ("#bebada"),
                     width = 3,
                     dash = 'dot')
        if indicator_id=='Other Total':           
                lines = dict(
                     color = ("#fb8072"),
                     width = 3,
                     dash = 'dot')
        if indicator_id=='STEM Total':           
                lines = dict(
                     color = ("#8dd3c7"),
                     width = 3,
                     dash = 'dot') 
        if indicator_id=='National Total':           
                lines = dict(
                     color = ("#8c8c8c"),
                     width = 3)
        trace = go.Scatter(
            x = dff[dff['indicator'] == indicator_id]['year'],
            y = dff[dff['indicator'] == indicator_id]['value'],
            mode='lines',
            name = indicator_id,
            line = lines,
            opacity = 0.8
            )
        
        data.append(trace)
    return {
        'data' : data,
        'layout' : go.Layout(
            xaxis={'title': 'Year'},
            yaxis={'title': 'Total Graduates in Education'}
        )
    }

if __name__ == '__main__':
    app.run_server()

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [27/Feb/2018 22:08:04] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [27/Feb/2018 22:08:06] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [27/Feb/2018 22:08:06] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [27/Feb/2018 22:08:06] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [27/Feb/2018 22:08:06] "GET /favicon.ico HTTP/1.1" 200 -
127.0.0.1 - - [27/Feb/2018 22:08:12] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [27/Feb/2018 22:08:18] "POST /_dash-update-component HTTP/1.1" 200 -

### Version 2

This contains:
* All of the elements above but divides the graph space in two. A map on the left and the graph on the right.